/* Menu Buttons */
.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 25px;
    height: 2px;
    margin: 0 0 5px 0;
    background: #fff;
    @include easeOut;
  }

  /* Rotate Into X Width Menu Lines */
  &.close {
    transform: rotate(0.5turn);

    .btn-line {
      /* Line 1 - Rotate */
      &:nth-child(1) {
        transform: rotate(0.125turn) translate(5px, 5px);
        background-color: $secondary-color;
      }

      /* Line 2 - Hide */
      &:nth-child(2) {
        opacity: 0;
      }

      /* Line 3 - Rotate */
      &:nth-child(3) {
        transform: rotate(-0.125turn) translate(5px, -5px);
        background-color: $secondary-color;
      }
    }
  }
}
